

/* template */
.webAdminSecOn {
    background-color:#F0F0F0;
}


.console {
    padding:5px; 
    background-color:black; 
    font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size:15px;
    color:#FFF;	
}

.status {
    color:red; 
    font-weight:bold; 
    font-size:17px; 
    font-family:Arial, Helvetica, sans-serif;
}


.profileDomainWebadmin{
    background-color:#CCC; 
    padding:2px;
    color:black;
}

.profileDomainWebadminActive{
    background-color:green; 
    color:white; 
}

.profileSecOff {
    color:red;
    font-weight: bold;
}
